	body,
html {
  background: #000;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  /*
  letter-spacing: -2px;
  */
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricprecision;
}

.top {
  position: absolute;
  top: 20px;
}

.left {
  position: absolute;
  left: 20px;
  width: 210px;
}

.right {
  position: absolute;
  right: 20px;
  width: 210px;
  text-align: right;
}

.center-ver {
  position: absolute;
  top: 50%;
  height: 200px;
  margin-top: -100px;
  line-height: 100px;
}

.lower-third {
  position: absolute;
  top: 66.666%;
  height: 200px;
  margin-top: -100px;
  line-height: 100px;
}

.center-hor {
  position: absolute;
  right: 225px;
  left: 225px;
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 20px;
}
/*
 * Component formatting
 */
.time,
.date {
  display: inline;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
}
.weather {
  padding: 5px;
  font-size: 16px;
  font-weight: 100;
}
.weather img {
  position: relative;
  top: +3px;
  left: 0px;
  height: 18px;
}
.quote {
  font-size: 14px;
  font-weight: 300;
}
.schedule {
  margin-top: 10px;
  padding: 5px;
  font-size: 22px;
  line-height: 28px;
}
.calendar {
  padding: 5px;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}
.news,
.twitter {
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
}
/*
* Fonts
*/
@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Medium.eot');
  /* IE9 Compat Modes */
  src: url('font/Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/Roboto-Medium.woff') format('woff'), /* Modern Browsers */
  url('font/Roboto-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('font/Roboto-Medium.svg#RobotoLight') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Regular.eot');
  /* IE9 Compat Modes */
  src: url('font/Roboto-Regular?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
  url('font/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('font/Roboto-Regular.svg') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Light.eot');
  /* IE9 Compat Modes */
  src: url('font/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/Roboto-Light.woff') format('woff'), /* Modern Browsers */
  url('font/Roboto-Light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('font/Roboto-Light.svg') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Thin.eot');
  /* IE9 Compat Modes */
  src: url('font/Roboto-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/Roboto-Thin.woff') format('woff'), /* Modern Browsers */
  url('font/Roboto-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
  url('font/Roboto-Thin.svg') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 100;
}
